.wc-current {
  .wc-current-summary {
    text-align: center;
    font-size: 1.5em;
  }

  .wc-current-feels-like {
    font-size: 0.8em;
    &:before {
      content: 'Feels like ';
      font-size: 0.7em;
    }
  }
}

.wc-wind {
  .wc-windDirection {
    width: 1.5em;
  }
}
