// WC Daily
.wc-daily {
  text-align: center;

  // Day of Week
  .wc-dow {
    font-size: 1.5em;
  }

  // Human-readable Date
  .wc-hrdate {
    font-size: 0.7em;
  }

  .wc-icon {
    height: 90px;
  }
}
